<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Categorias.Properties.Settings.somaConnectionString"
            connectionString="server=localhost;user id=root;database=soma"
            providerName="MySql.Data.MySqlClient" />
        <add name="Categorias.Properties.Settings.pautaConnectionString"
            connectionString="server=localhost;user id=root;database=pauta"
            providerName="MySql.Data.MySqlClient" />
        <add name="Categorias.Properties.Settings.schoolConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=False;database=school"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>